
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>CGPA</th>
    </tr>
    <tr>
        <td>Dip</td>
        <td>19-40354-1</td>
        <td>3.91</td>
    </tr>
    <tr>
        <td>Nisho</td>
        <td>19-40344-1</td>
        <td>3.62</td>
    </tr>
</table>