
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="/Home/Resister" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" value=""><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" value=""><br><br>
    <label for="dob">Date of Birth:</label><br>
    <input type="text" id="dob" value=""><br><br>

    <input type="submit" value="Submit">
</form>

