
@model database_interaction.Models.Entity.Product

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<html>
<head>

</head>
<body>
    <form action="/Product/Update/@Model.id" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="@Model.name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" value="@Model.price" placeholder="Price">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" value="@Model.quantity" placeholder="Quantity">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" value="@Model.description" placeholder="Description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>