@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .table {
        margin-top: 96px;
        margin-bottom: 96px;
    }
</style>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Exam</th>
            <th scope="col">Year</th>
            <th scope="col">Division</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>SSC</td>
            <td>2016 </td>
            <td>Rajshahi</td>
            <td>GPA 5</td>
        </tr>
        <tr>

            <td>HSC</td>
            <td>2018</td>
            <td>Rajshahi</td>
            <td>GPA 5</td>
        </tr>
        <tr>
            <td>BSc</td>
            <td>2019-2021</td>
            <td>AIUB</td>
            <td>CGPA 3.91</td>
        </tr>
    </tbody>
</table>