@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .content p {
        margin-top: 96px;
        margin-bottom: 96px;
    }
</style>

<div class="content">
    <p>Hello! I am FAZLA IMAM DIP. I am studying in AIUB. I am interested in Web development and App development. My hobby is watching movie, travelling and music</p>
</div>