@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .content  {
        margin-top: 96px;
        margin-bottom: 96px;
    }
</style>

<div class="content">
    <p> Tanvir Ahmed</p>
    <p>ID: 1901-1955-2</p> 
    <p>Lecturer, CS</p>    

</div>